Source: diodon
Section: utils
Priority: optional
Maintainer: Oliver Sauder <os@esite.ch>
Build-Depends: debhelper-compat (= 12),
               desktop-file-utils,
               gobject-introspection,
               libayatana-appindicator3-dev (>= 0.5.3),
               libglib2.0-dev (>= 2.46),
               libgtk-3-dev (>= 3.22),
               libpeas-dev (>= 1.1.1),
               libxtst-dev (>= 1.2.0),
               libzeitgeist-2.0-dev (>= 0.9.14),
               meson (>= 0.45),
               valac (>= 0.40.0),
               xauth,
               xvfb
Standards-Version: 4.6.0
Homepage: https://launchpad.net/diodon
Vcs-Git: https://git.launchpad.net/~diodon-team/+git/debian-packaging
Vcs-Browser: https://git.launchpad.net/~diodon-team/+git/debian-packaging

Package: diodon
Architecture: any
Depends: libdiodon0 (= ${binary:Version}),
         zeitgeist-core (>= 0.9.14),
         ${misc:Depends},
         ${shlibs:Depends}
Description: GTK+ Clipboard manager
 Diodon is a lightweight clipboard manager for Linux written in Vala which
 "aims to be the best integrated clipboard manager for the Gnome/Unity desktop".
 .
 Diodon features include Ubuntu indicator, clipboard sync (primary selection
 and Ctrl+C / Ctrl+V clipboard) and a zeitgeist integration for an infinite
 clipboard history.

Package: libdiodon0
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GTK+ Clipboard manager (main library)
 Diodon is a lightweight clipboard manager for Linux written in Vala which
 "aims to be the best integrated clipboard manager for the Gnome/Unity desktop".
 .
 Diodon features include Ubuntu indicator, clipboard sync (primary selection
 and Ctrl+C / Ctrl+V clipboard) and a zeitgeist integration for an infinite
 clipboard history.
 .
 This package contains the main library used by the Diodon. It is used both by
 the clipboard manager itself and by the plugins.
 .
 This library is only useful within Diodon. You should not have to
 manually install this package.

Package: gir1.2-diodon-1.0
Architecture: any
Multi-Arch: same
Section: introspection
Depends: libdiodon0 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: GTK+ Clipboard manager (GObject introspection data)
 Diodon is a lightweight clipboard manager for Linux written in Vala which
 "aims to be the best integrated clipboard manager for the Gnome/Unity desktop".
 .
 Diodon features include Ubuntu indicator, clipboard sync (primary selection
 and Ctrl+C / Ctrl+V clipboard) and a zeitgeist integration for an infinite
 clipboard history.
 .
 This package contains introspection data for Diodon.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: diodon-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: gir1.2-diodon-1.0 (= ${binary:Version}),
         libdiodon0 (= ${binary:Version}),
         libpeas-dev (>=1.1.1),
         ${misc:Depends}
Description: GTK+ Clipboard manager (development files)
 Diodon is a lightweight clipboard manager for Linux written in Vala which
 "aims to be the best integrated clipboard manager for the Gnome/Unity desktop".
 .
 Diodon features include Ubuntu indicator, clipboard sync (primary selection
 and Ctrl+C / Ctrl+V clipboard) and a zeitgeist integration for an infinite
 clipboard history.
 .
 Diodon is also extensible through its plugin system.
 .
 This package is required to build plugins for Diodon.
